@use '../../variables.scss' as vars;

.filtros {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 80%;
    min-width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid vars.$color-blanco;
    border-radius: 8px;
    background: vars.$primary-color;
    font-family: Arial, sans-serif;
    
  }
  
  .filtros__title {
    text-align: center;
    font-size: 1.5rem;
    color: vars.$color-blanco;
  }
  
  .filtros__container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .filtros__group {
    display: flex;
    flex-direction: column;
    flex: 1; 
  }
  
  .filtros__label {
    margin-bottom: 8px;
    font-weight: bold;
    color: vars.$color-blanco;
    width: 90%;
  }
  
  .filtros__select {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid vars.$color-blanco;
    border-radius: 4px;
    width: 100%;
  }
  

  @media (max-width: 600px) {
    .filtros__container {
      flex-direction: column;
      gap: 10px;
    }
  }
  